<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:jpa="http://www.springframework.org/schema/data/jpa" xmlns="http://www.springframework.org/schema/beans"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
        http://www.springframework.org/schema/beans/spring-beans.xsd http://www.springframework.org/schema/data/jpa https://www.springframework.org/schema/data/jpa/spring-jpa.xsd">

    <!-- in general note.  these could also be defined (moved to) "CompositionRootJavaConfig.java" -->


    <import resource="domainDataLayer.jpa.di.xml"/>



    <bean id="xmlDepartmentQueryManagerBean"
          class="com.mycompany.organizationdemo.businesslayer.managers.queries.DepartmentQueryManager">
        <constructor-arg ref="xmlDepartmentQueryRepositoryBean"/>
    </bean>



    <bean id="xmlDepartmentCommandManagerBean"
          class="com.mycompany.organizationdemo.businesslayer.managers.commands.DepartmentCommandManager">
        <constructor-arg ref="xmlDepartmentCommandRepositoryBean"/>
    </bean>


    <bean id="xmlSeedDataBean"
          class="com.mycompany.organizationdemo.businessservices.configuration.seeddata.MySeedData">
        <constructor-arg ref="xmlDepartmentQueryManagerBean"/>
        <constructor-arg ref="xmlDepartmentCommandManagerBean"/>
    </bean>

</beans>
