<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:jpa="http://www.springframework.org/schema/data/jpa" xmlns="http://www.springframework.org/schema/beans"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
        http://www.springframework.org/schema/beans/spring-beans.xsd http://www.springframework.org/schema/data/jpa https://www.springframework.org/schema/data/jpa/spring-jpa.xsd">

    <import resource="jpaSetup.di.xml"/>

    <jpa:repositories base-package="com.mycompany.organizationdemo.domaindatalayer.jpa.repositories"/>

    <bean id="ModelMapperBean" class="org.modelmapper.ModelMapper">
    </bean>

    <bean id="DepartmentEntityDtoConverterBean" class="com.mycompany.organizationdemo.businesslayer.managers.converters.DepartmentEntityDtoConverter">
        <constructor-arg ref="ModelMapperBean"/>
    </bean>


    <bean id="DepartmentManagerBean" class="com.mycompany.organizationdemo.businesslayer.managers.DepartmentManager">

        <constructor-arg ref="DepartmentEntityDtoConverterBean"/>

        <!-- note, the below is the first.letter.lower.case of the classname "com.mycompany.organizationdemo.domaindatalayer.jpa.repositories.DepartmentJpaRepository".  spring-di voodoo -->
        <constructor-arg ref="departmentJpaRepository"/>
    </bean>

    <bean id="SeedDataBean" class="com.mycompany.organizationdemo.businessservices.configuration.MySeedData">
        <constructor-arg ref="DepartmentManagerBean"/>
    </bean>

</beans>