<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
        http://www.springframework.org/schema/beans/spring-beans.xsd">

    <import resource="jpaSetup.di.xml"/>

    <bean id="DepartmentDomainDataBean" class="com.mycompany.organizationdemo.domaindatalayer.jpa.DepartmentDomainData">
        <!-- Note, no constructor arg here for EntityManager.  somehow it still gets injected -->
    </bean>

    <bean id="IDepartmentManagerBean" class="com.mycompany.organizationdemo.businesslayer.managers.DepartmentManager">
        <constructor-arg ref="DepartmentDomainDataBean"/>
    </bean>

    <bean id="SeedDataBean" class="com.mycompany.organizationdemo.businessservices.configuration.SeedData">
        <constructor-arg ref="IDepartmentManagerBean"/>
    </bean>

</beans>